<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="~/Templates/ruang-admin/vendor/jquery/jquery.min.js"></script>
<script src="~/Templates/ruang-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/ruang-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Templates/ruang-admin/js/ruang-admin.min.js"></script>


<script src="~/Templates/ruang-admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Templates/ruang-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<link href="~/Templates/ruang-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />



<!-- Page level custom scripts -->
<script>
    $(document).ready(function () {
        $('#tbl1').DataTable(); // ID From dataTable with Hover
    });</script>


<!--<script src="~/Templates/ruang-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Templates/ruang-admin/vendor/datatables/jquery.dataTables.min.js"></script>-->

<!--<script>
    $(document).ready(function () {
        $('#tbl1').DataTable(); // ID From dataTable with Hover
    });</script>-->
