<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="~/Templates/ruang-admin/vendor/jquery/jquery.min.js"></script>
<script src="~/Templates/ruang-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/ruang-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Templates/ruang-admin/js/ruang-admin.min.js"></script>
