<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">TasteFoodAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/AdminDashboard/Index">
            <i class="fas fa-fw fa-table fa-2x text-primary"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/AdminProduct/ProductList">
            <i class="fas fa-tasks fa-fw  fa-2x text-primary"></i>
            <span>Ürünler</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminCategory/CategoryList">
            <i class="fas fa-list-alt fa-2x text-primary"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminReservation/ReservationList">
            <i class="fas fa-clipboard-list fa-2x text-primary"></i>
            <span>Rezervasyonlar</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminAddress/AddressList">
            <i class="fas fa-align-right fa-table fa-2x text-primary"></i>
            <span>Adress</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminAbout/AboutList">
            <i class="fas fa-person-booth fa-fw  fa-2x text-primary"></i>
            <span>Hakkımda</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminContact/ContactList">
            <i class="fas fa-envelope fa-fw  fa-2x text-primary"></i>
            <span>İletişim</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminChef/ChefList">
            <i class="fas fa-users-cog fa-2x text-primary"></i>
            <span>Şefler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminTestimonial/TestimonialList">
            <i class="fas fa-users fa-2x text-primary"></i>
            <span>Referanslar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminSlider/SliderList">
            <i class="fas fa-sliders-h text-primary"></i>
            <span>Slider</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminProfile/Index/">
            <i class="fas fa-users-cog fa-2x text-primary"></i>
            <span>Profil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminOpenDayHour/OpenDayHourList">
            <i class="fas fa-clipboard-check fa-2x text-primary"></i>
            <span>Açık Saatler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminNotification/NotificationList">
            <i class="fas fa-bell fa-2x text-primary"></i>
            <span>Bildirimler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminSocialMedia/SocialMediaList">
            <i class="fas fa-network-wired fa-2x text-primary"></i>
            <span>Sosyal Medya</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Login/Logout">
            <i class="fas fa-sign-out-alt fa-2x text-primary"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>
</ul>
