<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">TasteFoodAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-table fa-2x text-primary"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminProduct/ProductList">
            <i class="fas fa-tasks fa-fw  fa-2x text-primary"></i>
            <span>Ürünler</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminCategory/CategoryList">
            <i class="fas fa-list-alt fa-2x text-primary"></i>
            <span>Kategoriler</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminAddress/AddressList">
            <i class="fas fa-align-right fa-table fa-2x text-primary"></i>
            <span>Adress</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/AdminAbout/AboutList">
            <i class="fas fa-person-booth fa-fw  fa-2x text-primary"></i>
            <span>Hakkımda</span>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-list-alt fa-2x text-primary"></i>
            <span>Kategoriler</span>
        </a>
    </li>
</ul>
