@model List<TasteFoodIt.Entity.Testimonial>
<section class="ftco-section testimony-section" style="background-image: url(/Templates/tasteit-master/images/bg_5.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-3 pb-2">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Referanslar</span>
                <h2 class="mb-4">Mutlu Müşteriler</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-7">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @foreach (var item in Model) {
                <div class="item">
                    <div class="testimony-wrap text-center">
                        <div class="text p-3">
                            <p class="mb-4">@item.Description</p>
                            <div class="user-img mb-4" style="background-image: url(@item.ImageUrl)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="fa fa-quote-left"></i>
                                </span>
                            </div>
                            <p class="name">@item.NameSurname</p>
                            <span class="position">@item.Title</span>
                        </div>
                    </div>
                </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
