<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img img-2 w-100 mr-md-2" style="background-image: url(/Templates/tasteit-master/images/bg_6.jpg);"></div>
                <div class="img img-2 w-100 ml-md-2" style="background-image: url(/Templates/tasteit-master/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 ftco-animate makereservation p-4 p-md-5">
                <div class="heading-section ftco-animate mb-5">
                    <span class="subheading">Sırlarımız</span>
                    <h2 class="mb-4">Mükemmel Malzemelerimiz</h2>
                    <p>
                        Çok eski zamanlardan günümüzde ulaşan atalarımızn eşsiz mirası tarfiflerimiz ve doğal olarak çok uzaklarda doğanın eşsiz güzelliği içinde organik üretilen ürünlerimizle size hizmet vermekten gurur duyarız.
                        
                    </p>
                    <p><a href="#" class="btn btn-primary">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

@*//<section class="ftco-section ftco-no-pt ftco-no-pb">
</section>
ftco-no-pt->yukardan boşluk bırakma demek
        ftco-no-pb->Aşşadan boşluk bırakma demek*@


