<head>
    <title>Taste.it - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Templates/tasteit-master/css/animate.css">

    <link rel="stylesheet" href="~/Templates/tasteit-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Templates/tasteit-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Templates/tasteit-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Templates/tasteit-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Templates/tasteit-master/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Templates/tasteit-master/css/flaticon.css">
    <link rel="stylesheet" href="~/Templates/tasteit-master/css/style.css">
</head>

