@model List<TasteFoodIt.Entity.Product>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Eşsiz Lezzetlerimiz</span>
                <h2 class="mb-4">Menü</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="menu-wrap">
                        <div class="heading-menu text-center ftco-animate">
                            <h3>Breakfast</h3>
                        </div>

                        <div class="menus d-flex ftco-animate">
                            <div class="menu-img img" style="background-image: url(@item.ImageUrl);"></div>
                            <div class="text">
                                <div class="d-flex">
                                    <div class="one-half">
                                        <h3>@item.ProductName</h3>
                                    </div>
                                    <div class="one-forth">
                                        <span class="price">@item.Price ₺</span>
                                    </div>
                                </div>
                                <p><span>@item.Description</span></p>
                            </div>
                        </div>

                        <span class="flat flaticon-bread" style="left: 0;"></span>
                        <span class="flat flaticon-breakfast" style="right: 0;"></span>
                    </div>
                </div>
            }





        </div>
    </div>

</section>
