
                <div class="wrap">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-12 col-md d-flex align-items-center">
                                <p class="mb-0 phone"><span class="mailus">Telefon:</span> <a href="#">@ViewBag.phone</a> or <span class="mailus">Email:</span> <a href="#">@ViewBag.email</a></p>
                            </div>
                            <div class="col-12 col-md d-flex justify-content-md-end">
                                <p class="mb-0">
                                    @ViewBag.description
                                </p>
                                @Html.Action("PartialNavbarInfoSocialMedia", "Default")
                            </div>
                        </div>
                    </div>
                </div>


