<section class="ftco-section ftco-no-pt ftco-no-pb ftco-intro bg-primary">
    <div class="container py-5">
        <div class="row py-2">
            <div class="col-md-12 text-center">
                <h2>Lezzetli &amp; Besleyici Yemeklerimiz </h2>
                <a href="/Reservation/Index" class="btn btn-white btn-outline-white">Hemen Masa Ayırtın</a>
            </div>
        </div>
    </div>
</section>
