

<div class="col-sm-8 wrap-about py-5 ftco-animate img" style="background-image: url(@ViewBag.ImageUrl);">
    <div class="row pb-5 pb-md-0">
        <div class="col-md-12 col-lg-7">
            <div class="heading-section mt-5 mb-4">
                <div class="pl-lg-3 ml-md-5">
                    <span class="subheading">Hakkımızda</span>
                    <h2 class="mb-4">@ViewBag.title</h2>
                </div>
            </div>
            <div class="pl-lg-3 ml-md-5">
                <p>@ViewBag.description</p>
            </div>
        </div>
    </div>
</div>
