@model List<TasteFoodIt.Entity.OpenDayHour>
<div class="col-md-6 col-lg-3">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Açık Saatler</h2>
        <ul class="list-unstyled open-hours">
            @foreach (var item in Model)
            {
                <li class="d-flex"><span>@item.DayName</span><span>@item.OpenHourRange</span></li>
            }


        </ul>
    </div>
</div>
