
<section class="hero-wrap">
    <div class="home-slider owl-carousel js-fullheight">
        <div class="slider-item js-fullheight" style="background-image: url(/Templates/tasteit-master/images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">Taste.it Restaurant</span>
                            <h1>Kuruluş Yılımız</h1>
                            <span class="subheading-2">1958</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight" style="background-image: url(/Templates/tasteit-master/images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">Taste.it Restaurant</span>
                            <h1>En Kaliteli Lezzetler</h1>
                            <span class="subheading-2 sub">İyi Yemek</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item js-fullheight" style="background-image: url(https://wallpapers.com/images/hd/food-4k-3gsi5u6kjma5zkj0.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ftco-animate">
                        <div class="text w-100 mt-5 text-center">
                            <span class="subheading">Taste.it Restaurant</span>
                            <h1>Ekonomik Menüler</h1>
                            <span class="subheading-2 sub">Uygun Fiyat</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
