


<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-12 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary">
                <form id="reservationForm" class="appointment-form">
                    @if (ViewBag.v == "true")
                    {
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">Kapat</span>
                            </button>
                            <h6><i>!</i><b> Bilgi</b></h6>
                            Rezervasyon Talebiniz alınmıştır
                        </div>
                    }
                    <h3 class="mb-3">Masanızı Ayırtın</h3>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Name" placeholder="İsminiz">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="email" class="form-control" name="Email" placeholder="Email ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Phone" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="fa fa-calendar"></span></div>
                                    <input type="text" class="form-control book_date" name="ReservationDate" placeholder="Tarih Seçin">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="fa fa-clock-o"></span></div>
                                    <input type="text" class="form-control book_time" name="Time" placeholder="Saat">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                        <select name="GuestCount" id="" class="form-control">
                                            <option value="">Kişi Sayısı</option>
                                            <option value=1>1</option>
                                            <option value="2">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input id="btnReservationNow" value="Rezervasyon Yap" class="btn btn-white py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

