
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<form method="post">


    <div class="container">
        <br /><br />
        <div class="alert alert-danger">Login Ekranı</div>
        <Label>Kullanıcı Adınız &Email Adresiniz</Label>
        <input type="text" name="Username" class="form-control" />
        <br />
        <Label>Şifreniz</Label>
        <input type="password" name="Password" class="form-control" />
        <br />
        <button class="btn btn-primary"> Giriş Yap</button>
    </div>
</form>